.container-main {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6dvh;
    flex-direction: column;
}

.container-vacinas {

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 2rem 3rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;

}