.text-center{
    background-color: rgb(71, 71, 71);
    color: white;
}

.icons{
    color: white;
}

.marginBot{
    margin-top: 50vh;
}

.prefpet{
    font-family: 'Brush Script MT', cursive;
    font-weight: 900;
}