<!-- Footer -->
<footer class="text-center text-lg-start text-muted marginBot">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="icons">
      <a href="https://www.facebook.com/?locale=pt_BR" class="me-4 text-reset">
        <i class="fab fa-facebook-f" ></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="titulo fw-bold mb-4">
            <i class="fa-solid fa-paw"></i> Pref Pet
          </h6>
          <p>
            Texto mto foda sobre o PrefPet, nossa história<br><br><br>poggers
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Saiba nós sobre as entidades
          </h6>
          <p>
            <a href="#!" class="text-reset">Entidade 1</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Entidade 2</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Entidade 3</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Entidade 4</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Importante
          </h6>
          <p>
            <a href="#!" class="text-reset">O que é o PrefPet?</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Aparência</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Relatar um erro</a>
          </p>
          <p>
            <a href="#!" class="text-reset">fodase?</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contato
          </h6>
          <p><i class="fas fa-home me-3"></i> Foz do Iguaçu, Paraná - Brasil</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            emaildahora&#64;example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> (45) 3522-1172</p>
          <p><i class="fas fa-print me-3"></i> (45) 4002-8922</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2025 Copyright:
    <a class="text-reset fw-bold" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyzzujsJYMDUU3kZShuCd6GNfloFTKisvmiw&s">Grupo PrefPet</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->