.accept {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.accept:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.accept:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #ccc;
}

button{
    background: none;
    border: none;
}