<div class="row marginTop">
    <div class="col-md-3">
        <img src="https://www.patasdacasa.com.br/sites/default/files/styles/article_detail_1200/public/noticias/2023/01/microchip-rastreador-para-cachorro-quanto-custa.jpg.webp?itok=uIV4T4ha" class="fotoPerfilAnimal">
    </div>
    <div class="col-md-3">

        <div class="atributo-block">
        <p class="titleAtributo">nome do animal</p>
        <p>{{animal.nome}}Bob</p>
        </div>

        <div class="atributo-block">
        <p class="titleAtributo">registro do animal</p>
        <p>{{animal.registroGeral}}RC1002.09324</p>
        </div>

        <div class="atributo-block">
        <p class="titleAtributo">castrado</p>
        <p>{{animal.castrado}}Sim</p>
        </div>
        

    </div>
    <div class="col-md-3">

         <div class="atributo-block">
        <p class="titleAtributo">espécie</p>
        <p>{{animal.especie}}Canino</p>
        </div>

        <div class="atributo-block">
        <p class="titleAtributo">cor</p>
        <p>{{animal.cor}}Preto</p>
        </div>

        <div class="atributo-block">
        <p class="titleAtributo">sexo</p>
        <p>{{animal.castrado}}macho</p>
        </div>


    </div>
    <div class="col-md-3">

       
         <div class="atributo-block">
        <p class="titleAtributo">microchip</p>
        <p>{{animal.microchip}}93949829</p>
        </div>

        <div class="atributo-block">
        <p class="titleAtributo">data nascimento</p>
        <p>{{animal.dataNascimento}}12/09/2020</p>
        </div>

        <div class="atributo-block">
        <p class="titleAtributo">naturalidade</p>
        <p>{{animal.castrado}}São Paulo - SP</p>
        </div>

    </div>
</div>

<div class="row topo">

    <div class="col-md-3">
        <div class="atributo-block">
                <p class="titleAtributo">nome do tutor</p>
                <p>Lorem Ipsum Ipsum</p>
         </div>


    </div>
    <div class="col-md-3">

         <div class="atributo-block">
                <p class="titleAtributo">cpf</p>
                <p>123.456.78-01</p>
         </div>
    </div>
    <div class="col-md-3">

        <div class="atributo-block">
                <p class="titleAtributo">contato</p>
                <p>45 99999-9999</p>
         </div>
    </div>
    <div class="col-md-3">

         <div class="atributo-block">
                <p class="titleAtributo">local</p>
                <p>São Paulo</p>
         </div>
    </div>


</div>

<div class="row topo">
        <div class="atributo-block">
            <p class="titleAtributo">vacinas aplicadas</p>
        </div>
</div>

<div class="row topo card-vacina">

        <div class="col-md-4">

            <div class="atributo-block">
                <p class="titleAtributo">nome da vacina</p>
                <p>V10</p>
         </div>
        
        </div>

        <div class="col-md-4">

             <div class="atributo-block">
                <p class="titleAtributo">veterinário</p>
                <p>Lorem Ipsum Ipsum</p>
         </div>
            
        </div>
        <div class="col-md-4">

             <div class="atributo-block">
                <p class="titleAtributo">dose</p>
                <p>1 º</p>
         </div>
        </div>


        <div class="col-md-4">
             <div class="atributo-block">
                <p class="titleAtributo">data de aplicação</p>
                <p>15/09/2025</p>
         </div>

        </div>
        
        <div class="col-md-4">

            <div class="atributo-block">
                <p class="titleAtributo">data de validade</p>
                <p>15/09/2027</p>
         </div>
        </div>        
</div>



