.emergencia-form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;

  .form-group {
    margin-bottom: 15px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }

    .form-control {
      width: 100%;
      padding: 8px 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .select-multiple {
      height: 120px; // multi-select maior
    }

    .btn-toggle {
      width: 100%;
      padding: 10px;
      background-color: #eee;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
      text-align: left;
      font-weight: bold;
    }

    .btn-toggle:hover {
      background-color: #ddd;
    }
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.card-emergencia{

  padding: 20px !important;
  border-radius: 20px;
  border: 1px solid gray;

}

.container-emergencias{

padding: 50px;
}

.title{

  margin-left: 10px;
}
