<div class="container mt-4">
  <h2 class="title marginTop">Aplicação de Vacina</h2>
  <p class="subtitle">Registre a aplicação de vacina de um animal</p>

  <form #formVacina="ngForm" (ngSubmit)="salvarAplicacao()">

    <!--busca tutor e exibe seus animais-->
  <mdb-form-control>
    <input
      mdbInput
      type="text"
      class="form-control"
      placeholder="Digite o cpf do tutor"
      [(ngModel)]="cpfTutorBusca"
      name="nomeTutorBusca"
      (keyup)="getTutorByCpf()"
    />
    <label class="form-label">Informe o CPF do Tutor</label>
  </mdb-form-control>

  <!-- Lista de animais somente após a busca -->
  @if (animaisDoTutor.length > 0) {
    <p class="text-animais">Animais de {{tutor.nome}}:</p>
    <mdb-form-control class="mt-3">
    <select
      mdbInput
      class="form-select"
      name="animal"
      required
      [(ngModel)]="aplicacaoVacina.animal"
    >
      <option disabled selected>Selecione o animal</option>
      @for (animal of animaisDoTutor; track animal.id) {
        <option [value]=animal>
          {{ animal.nome }} — {{ animal.tutor.nome }}
        </option>
        }
    </select>
    <label class="form-label">Selecione o Animal</label>
  </mdb-form-control>

  }

  

    <!-- Vacina -->
    <mdb-form-control class="mt-3">
      <select
        mdbInput
        class="form-select"
        name="vacina"
        required
        [(ngModel)]="aplicacaoVacina.vacina"
      >
        <option disabled selected>Selecione a vacina</option>

        @for (v of vacinas; track v.id) {
        <option >
          {{ v.nome }}
        </option>
        }
        
      </select>
      <label class="form-label">Vacina</label>
    </mdb-form-control>

    <!-- nao precisa definir a data pois o back define essa data por localdate.now() -->
    <!-- Data da aplicação
    <mdb-form-control class="mt-3">
      <input
        mdbInput
        type="date"
        class="form-control"
        name="dataAplicacao"
        required
        [(ngModel)]="aplicacaoVacina.dataAplicacao"
      />
      <label class="form-label">Data da Aplicação</label>
    </mdb-form-control> -->

    <!-- numero dose -->
    <mdb-form-control class="mt-3">
      <input
        mdbInput
        type="date"
        class="form-control"
        name="proximaDose"
        [(ngModel)]="aplicacaoVacina.numeroDose"
      />
      <label class="form-label">Numero da Dose:</label>
    </mdb-form-control>


    <!-- Botão salvar -->
    <button
      type="submit"
      class="btn btn-success mt-4"
      [disabled]="formVacina.invalid"
    >
      Registrar Aplicação
    </button>

  </form>
</div>
