.btn-rounded{
    background-color: rgb(255, 127, 70);
    color: white;
}

h3{
    color: rgb(255, 127, 70); 
}

.card {
  box-shadow: none !important;
}
.margin{
  margin-top: 10vh;
}

.couple-buttons{

  display: flex;
  gap: 15px;

}