.margintop{

    margin-top: 5vh;

}

img{
    width: 70px;
    height: 70px;
    background-size: cover;
}

.card{
    width: 100%;
    border: 1px solid  rgb(192, 192, 192);
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* garante que nada saia do card */
}


.gap20{

    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 20px;
}


.container-info-user{
    display: flex;
    flex-direction: column;

}

.container-main-info{
display: flex;
flex-direction: row;
}

.details-publicacao{
  display: flex;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 8pt;
  gap: 10px;
}

.dataPublicacao{

      margin-top: 5px;

}

.nomeEntidade{
    font-size: 12pt;
}


.container-tipos{

    display: flex;
    margin-left: 100px;
}

.descricaoPublicacao, .container-img{
    margin-left: 80px;
    margin-right: 80px;
    font-size: 10pt;
    
}


.imgPublicacao{

    background-size: cover;
    width: 100%;
    height: 50%;
    border-radius: 5px;
    border: 1px solid  rgb(192, 192, 192);
 
}

.lixo{

    display: flex;
    justify-content: end;
    gap: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

i{

    cursor: pointer;

}
