<!-- Image and text -->
<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        [src]="currentUser.imagemUrlPerfil"
        class="me-2"
        height="20"
        alt="MDB Logo"
      />
     <div class="nome">
        @if(loginService.hasRole("TUTOR") || loginService.hasRole("ENTIDADE") || loginService.hasRole("VETERINARIO")){
          <small class="nome">{{currentUser.nome}}</small>
          <button type="button" (click)="editarPerfil()">
            <i class="fa-solid fa-pen"></i>
          </button>
        } @else if (loginService.hasRole("ADMIN")) {
          <div class="admin-container">
            <span class="admin-text">Administrador</span>
            <button class="btn-logout" (click)="logout()">Sair</button>
          </div>
        }
</div>

    </a>


    <div class="opcoes mx-auto">
      <div
        class="d-flex justify-content-center gap-5 btn-group-lg"
        role="group"
        aria-label="Basic example"
      >
      @if(loginService.hasRole("ADMIN")){
        <button type="button" class="btn" routerLink="animal" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Usuários</button>
      }@else {
        <button type="button" class="btn" routerLink="animal" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Meus Animais</button>
      }
        <button type="button" class="btn" routerLink="vacinas" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Vacinas</button>
        <button type="button" class="btn" routerLink="publicacoes" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Publicações</button>
        <button type="button" class="btn" routerLink="emergencia" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Emergências</button>
        <button type="button" class="btn" routerLink="buscar-chip" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Buscar por Microchip</button>
<button class="btn-notification" routerLink="/principal/notificacoes">
  <i class="fas fa-bell"></i>
  @if (notificacoes.length>0) {
  <span class="badge">{{ notificacoes.length }}</span>
  }
</button>

      </div>
    </div>

  </div>
</nav>
