.navbar{
    margin-top: 35px;
    flex: 1;
    max-height: 60px;
    // height: 60px;
    width: 100%;              
    background-color: rgb(162, 190, 149);
    display: flex;           
    align-items: center;     
    overflow: hidden;         
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; 
    width: 100%;
}

.me-2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.navbar-brand{
    display: flex;
    flex-direction: row;
    gap: 3px;
    flex-shrink: 0; 
}

.btn{
    background-color: rgb(255, 244, 209);
    color: rgb(162, 190, 149);
    flex-shrink: 0; 
}

// .opcoes{
//     display: flex;
//     gap: 10px;
//     flex: 1;                  
//     justify-content: center;  
//     white-space: nowrap;     
// }


button{

    background: none;
    border: none;
}

i{

    font-size: 20pt;
}



.nome{
    font-size: medium;
    color: rgb(255, 244, 209);
}   

.active-link {
  background-color: rgb(109, 131, 98) !important; /* amarelinho */
  color: rgb(220, 209, 172) !important;               /* texto preto */
}

.btn{
    background-color: rgb(255, 244, 209);
    color: rgb(162, 190, 149);
}
.admin-container {
    display: flex;
    align-items: center;
    gap: 0.3rem; /* espaço entre texto e botão */
    padding: 0.3rem 0.4rem;
    border-radius: 8px;
    background-color: rgb(109, 131, 98); /* combina com navbar */
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.admin-text {
    font-size: medium;
    font-weight: bold;
    color: rgb(255, 244, 209);
}

.btn-logout {
    background-color: rgb(255, 244, 209);
    color: rgb(162, 190, 149);
    font-weight: bold;
    border-radius: 6px;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.btn-logout:hover {
    background-color: rgb(162, 190, 149);
    color: rgb(255, 244, 209);
}

.button-edit{

    margin-left: 3px;
}