<!-- Image and text -->
<nav class="navbar fixed-top">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <small class="titulo">PrefPet</small>
      <i class=" patinha fa-solid fa-paw"></i> </a>

      <button class="btn btn-link position-relative me-3 p-0" (click)="notificacoesTela()">
      <i class="fas fa-bell fa-lg"></i>
      <!-- Badge de quantidade -->
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        6
      </span>
    </button>

  </div>
</nav>