<!-- Image and text -->
<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <small>PREFPET</small>
      <img
        src="https://1.bp.blogspot.com/-75D48E4dlJA/WL8gKu7UnSI/AAAAAAAAfak/h5Ik22LrMAozR1yU8hepVjNLJ9fRwDOpwCLcB/s640/kogmaw.png"
        class="me-2"
        height="30vh"
        alt=""
        loading="lazy"
      /> </a>

      <button class="btn btn-link position-relative me-3 p-0">
      <i class="fas fa-bell fa-lg"></i>
      <!-- Badge de quantidade -->
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        6
      </span>
    </button>

  </div>
</nav>