.me-2{
    margin-left: 1vh;
}

.btn{
    background: none;
    border: none;
    color: #a7a7a7;

    &:hover {
      color: #000000; // cor ao passar o mouse
    }
}

.navbar{
  height: 6vh;
}


.patinha{
  margin-left: 1vh;
}


