.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  min-height: 100vh; /* ocupa altura total da tela */
}

.home-card {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
}

.home-card-large {
  flex: 2; /* ocupa mais espaço */
  background-color: #f8f9fa;
  min-height: 400px; /* altura mínima para textos maiores */
}

.home-card-small {
  flex: 1; /* menor que o primeiro */
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.btn-home {
  margin-top: 15px;
  width: 200px;
}
.home-card-large {
  flex: 2;
  background-color: #f8f9fa;
  min-height: 400px;
  display: flex;
  gap: 20px;
}

/* Lado esquerdo: Texto ocupa metade */
.home-left {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

/* Lado direito: Botão ocupa metade */
.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-home {
  width: 180px;
}
.bgLaranja{
  background-color: rgb(249, 136, 102);
  color: rgb(255, 244, 209);
}

.block{

  display: flex;
  justify-content: flex-end;

}

.direction{
  display: flex;
  flex-direction: column;
}

.marginTop{

  margin-top: 10vh;
}


.vet-block{

  background-color: gray;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.bold{
  font-weight: 700;
}

.button-vet{
    color: white !important;
    background-color: rgb(78, 78, 78) !important;

}

.card-split {
  padding: 20px;
  border-radius: 12px;
  color: white;
}

.left-content {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  flex-grow: 1;
}

.card-title {
  font-size: 1.35rem;
  font-weight: 600;
  text-align: left;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 4px 0 8px 0;
}

.card-desc {
  font-size: 0.95rem;
  opacity: 0.9;
  text-align: left;
}

.btn-home {
  white-space: nowrap;
  padding: 8px 22px;
  border-radius: 20px;
}

.card-emergencia{
  background-color: #d9443d;
}

.card-microchip{
  background-color: #60bd3e;
}