<div class="container-vacinas marginTop">
  <br><br><br><br><br>
  <h2>Vacinas</h2>

  <!-- Carrossel de Pets -->
  <div class="pets-carousel">
    @for (pet of pets; track pet.id) {
      <div class="pet" (click)="findById(pet.id)">
        <img
          [src]="pet.imagemUrl"
          [alt]="pet.nome"
          [class.selected-shadow]="animalIdCapturado === pet.id"
        />
        <span class="nomeAnimal">{{ pet.nome }}</span>
      </div>
    }
  </div>

  <br>

  <!-- Botão PDF -->
  <div>
    <button type="button" class="btn btn-primary marginleft" (click)="gerarPdf()">
      Gerar PDF
    </button>
  </div>
    <br>


  <!-- SEM TABS — SOMENTE O COMPONENTE -->
  <div class="container-list">
    <app-vacinaslist 
      [animalId]="animalIdCapturado"
      tab="aplicadas">
    </app-vacinaslist>
  </div>

</div>
