.topo{

    // margin-top: 5vh;
    padding: 20px;

}

.topo-main{

    margin-top: 5vh;

}

.row{
    border-top: 1px solid black;
    margin-right: 5vw;
    margin-left:5vw ;
}

.row-test{
    border-top: 1px solid black;
    margin-right: 5vw;
    
}

.fotoPerfilAnimal{

    object-fit: cover;
    border-radius: 5px;
    width: 230px;
    height: 230px;
}

.atributo-block{
    font-size: 16pt;
}

.titleAtributo{
    font-weight: 700;
}