.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

  label {
    font-weight: 500;
    color: black;
  }

  span, input, select {
    flex: 1;
    text-align: right;
  }

  input, select {
    max-width: 200px; // não deixa "estourar" o layout
  }

.animal-info {
  background: #608a76;
  border-radius: 15px;
  padding: 1.5rem;
  position: relative;
  z-index: 2;
  color: black;
}

.nome-animal {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: black;
}
  input {
    max-width: 150px;
  }

  .animal-photo {
    width: 60%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    object-fit: cover;      
}

.field input,
.field select {
  text-align: left;    // garante alinhamento
}