<!-- Image and text -->
<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        [src]="tutor.imagemUrlPerfil"
        class="me-2"
        height="20"
        alt="MDB Logo"
        loading="lazy"
      />
      <div class="nome">
        <small class="nome">{{tutor.nome}}</small>
        <i class="fa-solid fa-pen"></i>
      </div>
    </a>


    <div class="opcoes mx-auto">
      <div
        class="d-flex justify-content-center gap-5 btn-group-lg"
        role="group"
        aria-label="Basic example"
      >
        <button type="button" class="btn" routerLink="animal" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Meus Animais</button>
        <button type="button" class="btn" routerLink="vacinas" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Vacinas</button>
        <button type="button" class="btn" routerLink="publicacoes" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Publicações</button>
        <button type="button" class="btn" routerLink="emergencia" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Emergências</button>
        <button type="button" class="btn" routerLink="buscar-chip" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Buscar por Microchip</button>
      </div>
    </div>


  </div>
</nav>
