.btn{
    background-color: rgb(255, 127, 70);
    color: white;
}

h3{
    color: rgb(255, 127, 70); 
}

.card {
  box-shadow: none !important;
}

.cadastrar{

  color: rgb(101, 101, 194);
  cursor: pointer;
      text-decoration: underline;

}

