<div mdbDropdown class="dropdown">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    aria-expanded="false"
    mdbDropdownToggle
  >
    Filtro
  </button>
  <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">CAMPANHA DE CASTRAÇÃO</a></li>
    <li><a class="dropdown-item" href="#">CAMPANHA DE VACINAÇÃO</a></li>
    <li><a class="dropdown-item" href="#">CAMPANHA EDUCACIONAL</a></li>
    <li><a class="dropdown-item" href="#">ESTUDO COM ANIMAIS</a></li>
    <li><a class="dropdown-item" href="#">INFORMATIVO</a></li>
    <li><a class="dropdown-item" href="#">OUTROS</a></li>

  </ul>
</div>