

    <div class="col-lg-12 centralizar topo">
      <div class="card">
        <div class="card-body">
          <h3>Login</h3>
          <br>
          <mdb-form-control>
            <input mdbInput type="text" id="email" class="form-control" [(ngModel)]="loginData.username"/>
            <label mdbLabel class="form-label" for="email">Email</label>
          </mdb-form-control>
          <br />
          <mdb-form-control>
            <input mdbInput type="password" id="senha" class="form-control" [(ngModel)]="loginData.password"/>
            <label mdbLabel class="form-label" for="senha">Senha</label>
          </mdb-form-control>
          <br />
          <button type="button" class="btn btn-rounded" mdbRipple (click)="login()">
            Acessar
          </button>

        @if (deuErrado == true) {

          <app-message-error>
            [texto]="'Usuário ou senha incorretos!'" 
            [mostrar]="true">
          </app-message-error>
          
        }
            <!-- Register buttons -->
            <div class="text-center">
              <p style="margin-top: 20px">
                Ainda não possui uma conta? <a class="cadastrar" (click)="cadastrarRota()">Cadastrar</a>
              </p>
            </div>
          </div>
        </div>
      </div>
   