.animal-menu{
    box-shadow: 10vh 10vh 0vh 0vh rgba(118,181,129,0.75);
    -webkit-box-shadow: 10vh 10vh 0vh 0vh rgba(118,181,129,0.75);
    -moz-box-shadow: 10vh 10vh 0vh 0vh rgba(118,181,129,0.75);
    background-color: #daf0db;
}

.gap{
    gap: 2%;
}

.img-animal{
    width: 10vh;
    aspect-ratio: 1 / 1;
    background-size: cover;
    object-fit: cover;      
}

.animal-list{
    max-height: 50vh;
    overflow-y: scroll;
}

.row{
    margin-bottom: 20vh;
}