.btn-rounded{
    background-color: rgb(255, 127, 70);
    color: white;
}

h3{
    color: rgb(255, 127, 70); 
}

.card {
  box-shadow: none !important;
  width: 100%;
}


.couple-buttons{

  display: flex;
  gap: 15px;
  flex-wrap: wrap;

}

.container-forms{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;   
    padding: 30px;
    width:80vw;
    flex-wrap: wrap;
    flex-direction: column !important;
}

.card-body{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.display{

  margin-top: 10px;
  display: flex;
  flex-direction: column;
      flex-wrap: wrap;

}

input{
  width: 15vw;
}

.block-inputs{
  display: flex;
  justify-content: space-between !important;
  flex: 1;
  gap: 1vw;
}

.config-crmv{

  justify-content: flex-start !important;
  width: 86%;

}

.form-check-input{

  width: 20px !important;

}

main{

  display: flex;
  justify-content: center;
  align-items: center;
    flex-wrap: wrap;

  width: 100vw;
  height: 60vh;
}


.hide{

  display: none !important;
}

.check-label{

  display: flex;
  width: 21vw;
  gap: 1vw;
  font-size: 12pt;
  padding: 5px;
}



input{

  width: 20vw !important;
}


.vazio{

  width: 20vw;
}




.dropdown{

    width: 21vw;

}

@media (max-width: 428px) {
      
  }