.btn-rounded{
    background-color: rgb(255, 127, 70);
    color: white;
}

h3{
    color: rgb(255, 127, 70); 
}

.card {
  box-shadow: none !important;
  width: 100%;
}
.margin{
  margin-top: 10vh;
}

.couple-buttons{

  display: flex;
  gap: 15px;

}

.container-forms{

    display: flex;
    gap: 1vw;
 justify-content: center;
 align-items: center;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;   padding: 30px;


 width:80vw;

}

.card-body{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  width: 100%;

}

.display{

  display: flex;
  gap: 5px;
}

input{
  width: 15vw;
}

.block-inputs{
  display: flex;
  flex-direction: column;

  flex: 1;
}

main{

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50vw;
}
