/* You can add global styles to this file, and also import other style files */
//@use 'mdb-angular-ui-kit/assets/scss/mdb' as *;
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.centralizar{
    text-align: center;
}

.marginTop{
    margin-top: 25vh;
}

.cursor{

    cursor: pointer;
}

.titulo{
  font-family: 'Brush Script MT', cursive;
  font-weight: 900;
}
